#Events {
    margin: 10px;
    text-align: center;

    p {
        margin: 10px;
    }

    .container {
        max-width: 80%;
    }

    .create {
        text-align: center;
        button {
            margin-top: 10px;
        }
        select {
            margin-left: 9px;
            min-width: 270px;
        }
    }

    .my-events {
        text-align: center;
        .items {
            margin-top: 10px;
        }
    }

    .display-event {
        .name {
            font-size: 23px;
            text-align: center;
            font-weight: bold;
        }

        .date, .location {
            font-size: 13px;
        }

        .restaurant, .votes {
            .title {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .votes {
            .vote-btn {
                margin-left: 20px;
            }
        }
    }

    .invite {
        margin-top: 10px;
        max-width: 100%;

        button {
            margin-left: 10px;
        }
    }
}
