#Dashboard {
    margin: 0;
    background: #fff;
    .navbar-brand {
        width: 100%;

        .logo {
            > span {
                margin: 0 0.5rem 0 0.5rem;
            }
        }
        .navbar-start {
            width: 100%;
            a {
                color: #757763;
                &.navbar-item.is-active {
                    color: #deb92e !important;
                }

                i.fas {
                    font-size: 1.5rem;

                    &:hover {
                        color: #deb92e;
                    }
                }
            }
        }
    }
}
