#Login {
    position: relative;
    font-size: 1rem;
    width: 100%;
    min-width: auto;

    .section {
        margin-left: 20%;
        margin-right: 20%;
    }

    .box {
        padding: 50px;
    }

    img {
        height: 150px;
        width: 200px;
    }

    p {
        font-size: 26px;
        margin: 10px;
        color: #000;
    }
}
