@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$wiw-gold: #deb92e;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #000;
$link: $wiw-gold;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

div.wiw-input {
    padding: 10px;

    input {
        border-top: none;
        border-left: none;
        border-right: none;
        margin-left: 10px;
        background-color: transparent;
        height: 25px;
        padding: 5px;
    }

    input:focus {
        outline-color: transparent;
    }
}

div.wiw-button {
    padding: 10px;
    width: 90px;
    border: 2px solid #363bad;

    button {
        position: relative;
        background: none;
        outline: none;
        border: none;
    }

    &:active {
        background-color: darken(#fafaff, 10);
    }
}

div.modal {
    -webkit-box-shadow: -2px 1px 28px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 28px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 1px 28px 1px rgba(0, 0, 0, 0.75);
}

label {
    &.error {
        color: #c00;
    }
    &.form {
        text-transform: uppercase;
    }
}
